<!DOCTYPE html>
{% load static %}
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Clinton - ChatGPT</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/regular.min.css" integrity="sha512-WidMaWaNmZqjk3gDE6KBFCoDpBz9stTsTZZTeocfq/eDNkLfpakEd7qR0bPejvy/x0iT0dvzIq4IirnBtVer5A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/solid.min.css" integrity="sha512-yDUXOUWwbHH4ggxueDnC5vJv4tmfySpVdIcN1LksGZi8W8EVZv4uKGrQc0pVf66zS7LDhFJM7Zdeow1sw1/8Jw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end" id="sidebar-wrapper">
                
                <div class="list-group list-group-flush"> 
                   
                  
                   <div id="list-group">
                    <div class="user">
                        <i class="fa-solid fa-user-ninja"></i>
                        <p>Hi, {{request.user.username}}</p>
                        <a href="{% url 'signout' %}">Logout</a>
                    </div>

                    {% if t_questions %}

                    <div class="chat-today">
                        <small>Today</small>

                        
                        {% for tq in t_questions %}

                        <div class="chat">
                            <i class="fa-regular fa-message"></i>
                            <p>{{tq}}</p>
                        </div>
                            
                        {% endfor %}
                            
                     
                       
                    </div> 

                    {% endif %}

                    {% if y_questions %}

                    <div class="chat-today">
                        <small>Yesterday</small>
                        
                        {% for yq in y_questions %}

                        <div class="chat">
                            <i class="fa-regular fa-message"></i>
                            <p>{{yq}}</p>
                        </div>
                            
                        {% endfor %}
                            
                       
                       
                    </div> 
                    {% endif %}


                   </div>







                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper" data-bs-theme="dark">
                <!-- Top navigation-->

                <nav class="navbar navbar-expand-lg border-bottom">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" id="sidebarToggle"><span class="navbar-toggler-icon"></span></button>
                      
                    </div>
                </nav>
                
                <!-- Page content-->
                <div class="container-fluid container-fluid-2">
                    <h1 id="main-header">ChatGPT</h1>
                    <div class="bot-feature-container">

                        <div class="feature-container">
                            <div class="icon"><i class="fa-regular fa-lightbulb"></i></div>
                            <h3>Examples</h3>
                            <div class="feature">"Explain quantum computing in simple terms"</div>
                            <div class="feature">"Got any creative ideas for a 10 year old’s birthday?" →</div>
                            <div class="feature">"How do I make an HTTP request in Javascript?" →</div>
                        </div>

                        <div class="feature-container">
                            <div class="icon"><i class="fa-solid fa-bolt"></i></div>
                            <h3>Capabilities</h3>
                            <div class="feature">Remembers what user said earlier in the conversation</div>
                            <div class="feature">Allows user to provide follow-up corrections</div>
                            <div class="feature">Trained to decline inappropriate requests</div>
                        </div>



                        <div class="feature-container">
                            <div class="icon"><i class="fa-solid fa-triangle-exclamation"></i></div>
                            <h3>Limitations</h3>
                            <div class="feature">May occasionally generate incorrect information</div>
                            <div class="feature">May occasionally produce harmful instructions or biased content</div>
                            <div class="feature">mited knowledge of world and events after 2021</div>
                        </div>




                    </div>

                    {% comment %} <div class="chat-container">
                        <div class="user-chat-container">
                            <div class="user-pic"><i class="fa-solid fa-circle-user"></i></div>
                            <div class="user-message"></div>
                        </div>
                        <div class="bot-chat-container">
                            <div class="bot-icon"><i class="fa-solid fa-robot"></i></div>
                            <div class="bot-response"></div>
                        </div>
                    </div> {% endcomment %}
                    
                </div>
                
                <div class="container-fluid spinner-main">
                    <div class="spinner-border text-primary" role="status" style="margin:auto">
                        <span class="visually-hidden">Loading...</span>
                        </div>
                </div>

              


                <form action="" class="submit-form">
                    <input type="text" id="input_value" placeholder="Send a message" required>
                    <button id="submit-btn"><i class="fa-solid fa-paper-plane"></i></button>
                </form>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
    </body>
</html>
